@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */
.main {
    &__display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .payment {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: f.rem(24);
    }

    article > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: f.rem(32);
    }
    
    .link-display {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @include bp.breakpointMin(medium-screen) {
        article > article {
            flex-direction: row;
            gap: 0;
            flex-wrap: nowrap;
        }
    }
}

.price {
    .price-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}