@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */
.main {
    .payment {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: f.rem(24);
    }

    article > article {
        display: flex;
        flex-direction: column;
        gap: f.rem(32);
    }
    
    .link-display {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.price {
    .price-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}