@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* FOOTER */

footer {
    margin-top: auto;
}


.attribution { 
    font-size: f.rem(15); 
    text-align: center; 
}

.attribution a { 
    color: var(--clr-primary); 
}